
Oracle_Cards_DB_Importer/src/main/resources/info.txt
Oracle_Cards_DB_Importer/target/classes/oracle-cards-20230826210409.json
Oracle_Cards_DB_Importer/src/main/resources/oracle-cards-20230826210409.json
